<nav>
	<a href="/" >Home</a> · <a href={{"/feed.xml"}}>Feed</a> · <a href="https://chuanqisun.com">About me</a> · <a href="https://gitlab.cba.mit.edu/classes/863.25/people/SunChuanqi">GitLab</a> · <a href="https://github.com/chuanqisun/htmaa-2025/tree/master/blog">GitHub</a>
</nav>