<nav>
	<a href="https://fab.cba.mit.edu/classes/863.25/people/SunChuanqi/">Home</a> · <a href="feed.xml">Feed</a> · <a href="https://chuanqisun.com">About me</a> · <a href="https://gitlab.cba.mit.edu/classes/863.25/people/SunChuanqi">GitLab</a>
</nav>